<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logPathPrefix" value="/home/work/logs/exchange" />
    <!-- stdout appender定义 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="DEBUGOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 日志文件  appender定义 -->
	<appender name="orgAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<File>${logPathPrefix}/exchange_org.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${logPathPrefix}/history/exchange_org.log.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>13</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="exchangeAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${logPathPrefix}/exchange.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logPathPrefix}/history/%d{yyyy-MM-dd}.exchange.%i.log
			</fileNamePattern>
			<maxHistory>20</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="exchangeErrorAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		
		<File>${logPathPrefix}/exchange_error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${logPathPrefix}/history/exchange_error.log.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>13</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="comAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logPathPrefix}/exchange_com.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logPathPrefix}/history/%d{yyyy-MM-dd}.exchange_com.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="profilingAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${logPathPrefix}/exchange_profiling.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logPathPrefix}/statistics/%d{yyyy-MM-dd}.exchange_profiling.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="mailServiceAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${logPathPrefix}/mailService.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${logPathPrefix}/history/mailService.log.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>13</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<appender name="operationAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${logPathPrefix}/operation.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${logPathPrefix}/history/operation.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>13</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="webServiceAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${logPathPrefix}/webService.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${logPathPrefix}/history/webService.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>13</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org" additivity="true">
		<level value="ERROR" />
		<appender-ref ref="orgAppender" />
	</logger>
	
	<logger name="com.galaxy" additivity="false">
		<level value="INFO" />
		<appender-ref ref="exchangeAppender" />
		<appender-ref ref="exchangeErrorAppender" />
	</logger>
	
	<logger name="com" additivity="true">
		<level value="ERROR" />
		<appender-ref ref="comAppender" />
	</logger>
	
	<logger name="ProfilingInterceptorLog" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="profilingAppender" />
	</logger>
	
	<logger name="mailServiceLog" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="mailServiceAppender" />
	</logger>
	
	<logger name="operationLog" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="operationAppender" />
	</logger>
	
	<logger name="org.apache.cxf" level="INFO">
	  <appender-ref ref="webServiceAppender"/>
	</logger>
	
	<logger name="wsserviceLog" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="webServiceAppender" />
		<appender-ref ref="exchangeAppender" />
		<appender-ref ref="exchangeErrorAppender" />
	</logger>
	
	<logger name="com.galaxy.exchange.ws" additivity="true">
		<level value="TRACE" />
		<appender-ref ref="webServiceAppender" />
	</logger>
	
</configuration>

